---
// src/layouts/MainLayout.astro
import '../styles/global.css';
import { SEO } from "astro-seo";
import { getLangFromUrl } from '../i18n/languages';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href={new URL(Astro.site || '/', Astro.url.origin).href} />
    <title>Portfolio Denis Cazzulo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- favicon -->
    <link rel="icon" href="logo.ico" />
    <!-- SEO Improvments -->
    <meta name="description" content="Portfolio di Denis Cazzulo, esperto di IA e sviluppo web" />
    <meta name="keywords" content="portfolio, denis cazzulo, sviluppo web, intelligenza artificiale, machine learning, deep learning" />
    <meta name="author" content="Denis Cazzulo" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="max-snippet:-1" />
    <meta name="google" content="max-image-preview:large" />
    <meta name="google" content="max-video-preview:-1" />
    <SEO
      title="Denis Cazzulo - Portfolio"
      description="Portfolio di Denis Cazzulo, esperto di IA e sviluppo web con esperienza creazione di sito web e supporto per l'implementazione di AI nei processi aziendali."
      openGraph={{
        basic: {
          title: "Denis Cazzulo - Portfolio",
          type: "website",
          image: "",
        }
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/logo.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://aboutdenis.eu/tesseract.webp",
          },
          { name: "twitter:title", content: "Portfolio di Denis Cazzulo" },
          { name: "twitter:description", content: "Portfolio di Denis Cazzulo, esperto di IA e sviluppo web con esperienza creazione di sito web e supporto per l'implementazione di AI nei processi aziendali." },
          { name: "twitter:card", content: "summary_large_image" },
        ],
      }}
    />
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>

    <button id="back-to-top-btn" class="back-to-top-btn">
      <i class="fas fa-arrow-up"></i> {/* Font Awesome arrow icon */}
    </button>

    <script>
      const backToTopButton = document.getElementById('back-to-top-btn');

      window.onscroll = function () {
        if(backToTopButton){
          if ((document.body.scrollTop > 200 || document.documentElement.scrollTop > 200)) {
            backToTopButton.style.display = 'block';
          } else {
            backToTopButton.style.display = 'none';
          }
        }
      };

      if(backToTopButton){
        backToTopButton.addEventListener('click', () => {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
      }

      //tracking delle visite sul sito (solo visite, no dati sensibili)
      fetch('https://visits-tracker.deniscazzulo.workers.dev/')
        .then(() => console.log('Visita registrata con successo'))
        .catch(error => console.error('Errore nella registrazione della visita', error));

    </script>

    <style>
    .back-to-top-btn {
        display: none; /* Hidden by default */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background-color: rgba(0, 255, 170, 0.7); /* Teal background with opacity */
        color: #121212; /* Dark text color */
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
      }

    .back-to-top-btn:hover {
        background-color: rgba(0, 255, 170, 0.9); /* Slightly darker teal on hover */
      }
    </style>
  </body>
</html>